*{
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    box-sizing: border-box;
}

html{
    zoom: 80%;
}

body{
    padding: 0;
    margin: 0;
}

header{
    background: url(../Home/img/backgroundHeader.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo1{
    width: 140px;
    height: 180px;
}

.profile{
    width: 180px;
    height: 180px;
}

nav{
    padding: 10px;
    background: url(../Home/img/backgroundNav.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

nav a{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 1px 1px 1px grey;
}

.home:hover{
    text-transform: uppercase;
    color: red;
    transition: ease-in-out.5s;
}

.album:hover{
    text-transform: uppercase;
    color: rgb(0, 255, 0);
    transition: ease-in-out.5s;
}

.pricing:hover{
    text-transform: uppercase;
    color: rgb(45, 224, 255);
    transition: ease-in-out.5s;
}

.part1{
    background: url(img/Part1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.p{
    background-color: white;
    margin-left: 100px;
    margin-right: 800px;
    box-shadow: 3px 3px 3px grey;
}

.premium{
    position: relative;
    display: flex;
}

.kanan, .kiri{
    color: black;
}

.kanan{
    padding-top: 5px;
    padding-left: 200px;
}

.kiri{
    padding-top: 60px;
    padding-left: 50px;
}

.kanan{
    text-align: center;
    font-size: 40px;
}

.list{
    display: flex;
    font-size: 15px;
}

.list h1{
    padding-left: 10px;
    margin-top: 5px;
}

.kiri img{
    width: 30px;
    height: 30px;
}

.btn-Premium{
    text-align: center;
    padding-bottom: 35px;
}

.BPremium{
    width: 500px;
    height: 60px;
    border-radius: 30px;
    inline-size: none;
    border-color: rgb(68, 255, 35);
    background-color: rgb(68, 255, 35);
    box-shadow: 3px 3px 3px grey;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.BPremium:hover{
    border-color: rgb(1, 180, 1);
    background-color: rgb(1, 180, 1);
}

.BPremium:active{
    transform: scale(0.95);
}

.part2{
    background: url(img/Part2.png);
    background-position: 35% 35%; 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.v{
    background-color: white;
    margin-right: 100px;
    margin-left: 800px;
    box-shadow: 3px 3px 3px grey;
}

.vip{
    position: relative;
    display: flex;
}

.kanan2, .kiri2{
    color: black;
}

.kanan2{
    padding-top: 25px;
    padding-left: 200px;
}

.kiri2{
    padding-top: 60px;
    padding-left: 50px;
}

.kanan2{
    text-align: center;
    font-size: 40px;
}

.list2{
    display: flex;
    font-size: 15px;
}

.list2 h1{
    padding-left: 10px;
    margin-top: 5px;
}

.kiri2 img{
    width: 30px;
    height: 30px;
}

.btn-vip{
    text-align: center;
    padding-bottom: 35px;
    padding-top: 25px;
}

.BVIP{
    width: 500px;
    height: 60px;
    border-radius: 30px;
    inline-size: none;
    border-color: rgb(104, 169, 243);
    background-color: rgb(104, 169, 243);
    box-shadow: 3px 3px 3px grey;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.BVIP:hover{
    border-color: rgba(15, 0, 223, 0.671);
    background-color: rgba(15, 0, 223, 0.671);
}

.BVIP:active{
    transform: scale(0.95);
}

.part3{
    background: url(img/part3.jpg);
    background-position: 35% 35%; 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.e{
    background-color: white;
    margin-right: 800px;
    margin-left: 100px;
    box-shadow: 3px 3px 3px grey;
}

.elite{
    position: relative;
    display: flex;
}

.kanan3, .kiri3{
    color: black;
}

.kanan3{
    padding-top: 45px;
    padding-left: 200px;
}

.kiri3{
    padding-top: 60px;
    padding-left: 50px;
}

.kanan3{
    text-align: center;
    font-size: 40px;
}

.list3{
    display: flex;
    font-size: 15px;
}

.list3 h1{
    padding-left: 10px;
    margin-top: 5px;
}

.kiri3 img{
    width: 30px;
    height: 30px;
}

.btn-elite{
    text-align: center;
    padding-bottom: 35px;
    padding-top: 25px;
}

.BElite{
    width: 500px;
    height: 60px;
    border-radius: 30px;
    inline-size: none;
    border-color: yellow;
    background-color: yellow;
    box-shadow: 3px 3px 3px grey;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.BElite:hover{
    border-color: orange;
    background-color: orange;
}

.BElite:active{
    transform: scale(0.95);
}

footer{
    background-color: rgb(238, 232, 232);
    min-height: 500px;
}

.logo{
    margin-top: 30%;
    width: 180px;
    height: 220px;
}

.foot{
    border-collapse: separate;
    margin-left: 10%;
    border-spacing: 200px 0px;
}

.title{
    font-size: 40px;
    text-align: center;
    color: green;
    font-weight: bold;
}

.link{
    text-align: center;
}

.link a{
    font-size: 40px;
    text-align: center;
    color: green;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.link a:hover{
    color: blue;
}

.contact{
    font-size: 40px;
    text-align: center;
    color: rgb(94, 94, 255);
    font-weight: bold;
}

#title{
    font-size: 50px;
}